<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">
    Find showtimes, watch trailers, browse photos, track your Watchlist and rate
    your favorite movies and TV shows on your phone or tablet!
  </p>
  <hr class="my-4" />
  <p>
    Find showtimes, watch trailers, browse photos, track your Watchlist and rate
    your favorite movies and TV shows on your phone or tablet!
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.imdb.com/" role="button"
      >IMDB</a
    >
  </p>
</div>
